<!DOCTYPE html>
<html>
    <head>
         <title>HOME PAGE</title>
         <link rel="stylesheet" href="../static/main.css"/>
    </head>
    <body>
      <div>
          <div>
            first bhalf
          </div>
          <div>
            <div>
              <input type="text" name='email'/>
              <input type="text" name='password'/>
            </div>
            <div>
              <button type="button" name="submit">Submit</button>
            </div>



          </div>

       </div>



    </body>
</html>
